<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<a href="/" class="navbar-brand">GetBook</a>	
</div>

<div class="collapse navbar-collapse">
<ul class="nav navbar-nav">
<li routerLinkActive="active"><a href="#" routerLink="/book">Programming</a></li>
<li routerLinkActive="active"><a href="#" routerLink="/book-list">Book-List</a></li>	
</ul>
	<ul class="nav navbar-nav navbar-right">
	<ng-template [ngIf]="!authService.isAuthenticated()">
	<li><a href="#" routerLink="/signup">Register</a></li>
	<li><a href="#" routerLink="/signin">Login</a></li>	
	</ng-template>
	<li><a href="#"
	 style="cursor: :pointer;" 
	 (click)="onLogout()" 
	 *ngIf="authService.isAuthenticated()">Logout</a></li>

	<li class="dropdown" appDropDown *ngIf="authService.isAuthenticated()">
	<a style="cursor: pointer;"  class="dropdown-toggle" role="button">manage<span class="caret"></span></a>
	<ul class="dropdown-menu">
	<li><a style="cursor: pointer;" (click)="onSaveData()">Save data</a></li>
	<li><a style="cursor: pointer;" (click)="onFetchData()">Fetch data</a></li>		
	</ul>
	</li>	
	</ul>
</div>	
</div>
	
</nav>