<div>
	<div class="col-xs-12">
	<img [src]="book.imagePath" alt="{{book.name}}" style="max-height: 200px;" class="img-responsive">
		
	</div>
</div>
<div class="row">
   <div class="col-xs-12">
   <h1>{{book.name}}</h1>
   	
   </div>
	
</div>
<div class="row">
	<div class="col-xs-12">
	<div class="btn-group"
	appDropDown>
	<button
	type="button"
	class="btn btn-primary dropdown-toggle">Manage book<span class="caret"></span>
		
	</button>
	<ul class="dropdown-menu">
	<li><a (click) = "onAddToBookList()" style="cursor: pointer;">To Book-List</a></li>
	<li><a style="cursor: pointer;" (click) = "onEditBook()" >Edit Book</a></li>
	<li><a style="cursor: pointer;" (click) = "onDeleteBook()" >Delete Book</a></li>
		
	</ul>
		
	</div>
		
	</div>
</div>
<div class="row">
   <div class="col-xs-12">
   {{book.description}}
   	
   </div>
	
</div>
<div class="row">
<div class="col-xs-12">
<ul class="list-group">

		<li
        class="list-group-item"
        *ngFor="let ingredient of book.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
		</ul>

</div>
</div>
