<div class="row">
  <div class="col-xs-12">
      <button class="btn btn-success" (click) = "onNewBook()">New Book</button>
      	</div>
   </div>
   <hr>
<div class="row">
  <div class="col-xs-12">
   
   <app-book-item 
   *ngFor=" let bookEl of books; let i=index"
      [book] = "bookEl"
      [index] = "i"></app-book-item>
</div>   
</div>
